*{
    margin:0;
    padding: 0;
    font-size: larger;
    font-weight: 900;
}
body{
    text-align: center;
}
#app{
    margin-top: 200px;
}
span{
   margin-top: 50% ;
    color: rgb(43, 219, 161);
}
#key-number{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    border: 1px solid grey;
    height: 150px;
    width: 150px;
}